* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0f0f;
  color: #ffffff;
}


main {
  display: flex;
  justify-content: start;
  flex-direction: row;
  gap: 20px;
  height: 960px;
}

.cardArea {
    display: grid;
    grid-gap: 17px;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.continueWatching-dramaCardsRow {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 30px;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 95%;
    margin-left: 30px;
}

@media (max-width: 768px) {
  main {
    height: 1700px;
  }

  .Search-heroSection {
  display: flex;
  position: relative;

  width: 100%;
  height: 100px;
}

 .Search-tagline {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 2;
  
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: start;
  }

  .Search-tagline h1 {
    font-size: 30px;
  }

  .dramaCardsRow {
    justify-content: center;
    gap: 20px;
    flex-direction: row;
    align-items: start;
  }

  .card {
    height: 250px;
    width: 150px;
  }


 
}

