* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0f0f;
  color: #ffffff;
}

main {
  display: flex;
  justify-content: start;
  flex-direction: row;
  gap: 20px;
  height: 960px;
}

@media (max-width: 768px) {
  main {
    height: 1700px;
  }

  .Search-tagline h1 {
    font-size: 30px;
  }

  .dramaCardsRow {
    justify-content: center;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
  }

 
}

@media (max-width: 400px) {
  main {
    height: auto;
  }

  .Search-tagline h1 {
    font-size: 25px;
  }

  .dramaCardsRow {
    justify-content: center;
    gap: 15px;
    flex-direction: row;
  }

      .card {
        height: 370px;
        width: 270px;
    }
}

