/* @media (max-width: 800px) {
  .hideOnMobile {
    display: none;
    width: 0;
  }

  .navBar {
    justify-content: space-between;
  }

  .navBtns {
    gap: 10px;
    margin-right: 20px;
  }

  .logoImg img {
    width: 120px;
    height: auto;
  }

  .sideScrollRight,
  .sideScrollLeft {
    display: none;
  }
} */

@media (max-width: 1050px) {
  .hideOnMobile {
    display: none;
    width: 0;
  }

  .collectionHidden {
    display: none;
  }

  .mobileView {
    display: block;
  }

  .navBar {
    width: 100%;
    height: 40px;
    justify-content: space-between;
  }

  .navBtns {
    gap: 10px;
    margin-right: 20px;
  }

  .logoImg img {
    width: 120px;
    height: auto;
    margin-left: 15px;
  }

  .sideScrollRight,
  .sideScrollLeft {
    display: none;
  }

  .sideBarContainer {
    width: 80%;
  }

  .navBtns {
    gap: 15px;
    padding-right: 0px;
  }

  .logoImg img {
    width: 100px;
    height: auto;
  }

  .heroImg {
    height: 350px;
  }

  .tagline {
    left: 20px;
    width: 80%;
    top: 160px;
  }

  .tagline h1 {
    font-size: 25px;
    line-height: 45px;
  }

  .section2Heading h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 10.34px;
    letter-spacing: 4.77px;
  }

  .section2Mobile {
    display: block;
  }

  .section2Container {
    display: none;
  }

  .section2Heading {
    display: none;
  }

  .comingSoonSection {
    padding: 20px 5px;
  }

  .comingDramaCard img {
    width: 160px;
    height: 270px;
  }

  .comingSoonHeading {
    font-size: 13px;
  }

  .card {
    height: 250px;
    width: 150px;
  }

  .section3 {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-bottom: 50px;
    padding-left: 30px;
  }

  .bgLight {
    position: absolute;
    background: #d51320;
    filter: blur(100px);
    z-index: 0;
    height: 150px;
    width: 200px;
    left: 50px;
  }

  .textContainer {
    margin-left: 10px;
  }
  .textContainer h3 {
    font-size: 24px;
  }

  .textContainer p {
    font-size: 16px;
    line-height: 1.4;
  }

  .svg1 img,
  .svg2 img {
    height: 50px;
    width: 150px;
  }

  .imgRight img {
    height: 300px;
    width: 240px;
  }

  .aboutSection {
    padding: 15px;

    overflow: hidden;
  }

  .aboutContainer {
    gap: 15px;
    flex-direction: column;
  }

  .aboutText {
    margin-left: 0;
    width: 300px;
  }

  .aboutContainer h2 {
    font-size: 24px;
  }

  .aboutContainer p {
    font-size: 16px;
    line-height: 1.4;
  }

  .footerText {
    font-size: 14px;
    width: 65%;
    text-align: center;
  }

  .copyRight {
    font-size: 10px;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
  }

  .dramaCardsSection {
    padding: 10px 0px;
  }

  .dramaCard h3 {
    font-size: 16px;
    padding-left: 5px;
  }

  .heading {
    margin-top: 25px;
    font-size: 16px;
  }

  .exploreHeading {
    font-size: 17px;
  }

  .imgCnt {
    padding: 2px;
    margin-top: 0px;
    height: 300px;
    width: 240px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .imgCnt img {
    width: 225px;
    height: 280px;
  }

  .section2Heading {
    flex-wrap: wrap;
  }

  .dramaCardsRow {
    gap: 15px;
    margin-left: 3px;
  }

  .heading {
    margin-left: 10px;
  }

  .wrapper {
    padding: 10px 0px;
  }

  .dramaCardsRow {
    width: 95%;
    padding: 0px 10px;
    scroll-behavior: smooth;
  }

  .card:hover .overlay {
    height: 50%;
  }

  .overlay h3 {
    padding-top: 10px;
  }

  .overlay p {
    padding-top: 5px;
  }

  .overlayBtns {
    gap: 10px;
    margin-top: 15px;
  }

  #playBtn {
    height: 30px;
    width: 60px;
    padding: 2px 5px;
    gap: 1px;
  }

  #playSpn {
    font-size: 15px;
    font-weight: 400;
  }

  #playBtn img {
    height: 15px;
    width: 15px;
  }

  .overlayIconBtns {
    height: 30px;
    width: 30px;
  }
}

.exploreHeading {
  margin-left: 10px;
}

.dramaCardsContainer1 {
  margin-top: 20px;
  margin-bottom: 40px;
  scroll-behavior: smooth;
  padding: 0px 5px;
}

@media (min-width: 800px) {
  #manuBtn {
    display: none;
  }

  .mobileView {
    display: none;
  }

  .exploreHeading {
    margin-left: 45px;
  }

  .bgLight {
    display: none;
  }
}
