* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0f0f;
  color: #ffffff;
  scroll-behavior: smooth;
  height: auto;
}

.heroSectionContainer {
  width: 100%;
  height: 800px;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.Search-heroImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.LoginContainer {
  width: 500px;
  height: 580px;
  background-color: #000000;
  border-radius: 10px;
  border: 1px solid #807e7e;
  position: absolute;
  z-index: 99;
}

.LoginContainer h1 {
  text-align: start;
  padding-left: 50px;
  padding-top: 50px;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  width: 100%;
  font-family: "Alatsi", sans-serif;
}

.SignInForm {
  margin: 5px 0px 0px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SignInForm label {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  width: 80%;

  align-items: center;
  margin: 10px 0px;
}

.SignInForm label img {
  height: 20px;
  width: 20px;
}

#email,
#password {
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  padding: 0px 10px;
  background-color: #000000;
  color: #ffffff;
  outline: none;
}

#l-email {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}

#l-email:hover {
  border: 1px solid #e21220;
}

#l-password {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}
#l-password:hover {
  border: 1px solid #e21220;
}

.forgot {
  width: 80%;
}

.forgot p {
  text-align: end;
  text-decoration: underline;
  text-transform: capitalize;
  color: #e21220;
  font-size: large;
  font-family: "Inter", sans-serif;
  margin: 10px 0px;
  cursor: pointer;
}

.sinUp {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: #e21220;
  font-family: "Alatsi", sans-serif;
  font-size: larger;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.sinUp::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #6d5e5f;
  transition: 0.5s ease;
  z-index: -1;
}

.sinUp:hover::before {
  background-color: #ffffff;
  transition: all 0.3s ease;
  width: 100%;
}

.sinUp:hover {
  color: #e21220;
}

.account {
  margin-top: 20px;
}

.account p {
  text-align: center;
  line-height: 1.5;
  font-size: large;
  font-family: "Inter", sans-serif;
}

.account a {
  color: #e21220;
  cursor: pointer;
}

.accountLinks {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.link {
  height: 50px;
  width: 50px;
  background-color: rgb(44, 27, 27);
  border-radius: 10px;
  border: none;
  outline: 1px solid rgb(104, 102, 98);
  gap: 10px;
}

.link img {
  height: 40px;
  width: 40px;
  transition: transform 1s ease;
  transform-style: preserve-3d;
}

.link img:hover {
  transform: rotateY(360deg);
}
.terms {
  width: 100%;
  gap: 10px;
  margin-top: 30px;

  margin-left: 100px;
}

.boxCheck {
  display: flex;
  align-items: baseline;
  cursor: pointer;
  gap: 5px;
  width: 100%;
}

.terms span {
  font-size: 11px;
  font-family: "Inter", sans-serif;
}

.terms a {
  color: #e21220;
}

.terms input[type="checkbox"] {
  accent-color: #e21220;
  cursor: pointer;
  margin-top: 3px;
}

footer {
  display: none;
}

/* media qurries */

@media (max-width: 768px) {
  .LoginContainer {
    width: 90%;
    top: 50px;
  }

  .LoginContainer h1 {
    font-size: 20px;
    padding-left: 40px;
    padding-top: 30px;
  }

  .terms {
  margin-left: 30px;
  margin-top: 40px;
}
}
