* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0f0f;
  color: #ffffff;
}

main {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.listContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 30px;
    margin-bottom: 100px;
}

.svgContainer img{
    width: 250px;
    height: 200px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;

}

.textContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Alatsi", sans-serif;
}

.textContainer h3{
  color: #e81d2a;
}



@media (max-width: 768px) {
  main {
    height: 80vh;
  }

  .Search-heroSection {
  display: flex;
  position: relative;

  width: 100%;
  height: 100px;
}

 .Search-tagline {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 2;
  
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: start;
  }

  .Search-tagline h1 {
    font-size: 30px;
  }
}