* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0f0f;
  color: #ffffff;
}

main {
  height: 90vh;
}

.Search-heroSection {
  display: flex;
  position: relative;

  width: 100%;
  height: 200px;
}

.heroSectionContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    80.66% 279.19% at 40.55% 80.59%,
    #150505f0 0%,
    #000000e3 100%
  );
  z-index: 1;
}

.Search-heroImg {
  width: 100%;

  position: relative;
}

.Search-tagline {
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  top: 95px;
  left: 337px;
  z-index: 2;
  width: 760px;
  height: 100px;
}

.Search-tagline h1 {
  font-family: "Alatsi", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 83.5px;
  letter-spacing: 0.32px;
}

.containerSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  width: 100%;
}

.Search-tagline {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  width: 80vw;
  font-family: "Alatsi", sans-serif;
  font-size: 15px;
  position: absolute;
    top: 110px;
    left: 140px;
}

.searchInputBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 50px;
  border: 1px solid #ffffff;
}

.searchInputBox input {
  width: 90%;
  height: 100%;
  background-color: #0f0f0f;
  border: none;
  color: #ffffff;
  font-size: 18px;
  outline: none;
}

.inputBtns img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.InputSearchIconClose img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
}

.trending {
  margin: 0px 50px;
}

.trending h2 {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}

.trendingBtns {
  display: flex;
  gap: 10px;
}

.trendingBtns button {
  padding: 0px 20px;
  font-size: 15px;
  background-color: #3f3d3d;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  height: 30px;
  width: auto;
}

.trendingBtns button:hover {
  background-color: #6b6767;
  color: #ffffff;
  transition: ease-in-out 0.3s;
}

/* media queries for responsiveness */

@media (max-width: 768px) {
  .containerSearch {
    height: 60px;
  }

  .Search-tagline {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 2;
  }

  .Search-tagline {
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: start;
  }

  .Search-tagline h1 {
    font-family: "Alatsi", sans-serif;
    font-weight: 400;
    font-size: 15px;
  }

  .searchInputBox {
    height: 40px;
  }

  .searchInputBox input {
    font-size: 15px;
  }

  .trending {
    margin: 10px;
    padding-left: 10px;
  }

  .trending h2 {
    font-size: 16px;
  }

  .trendingBtns {
    gap: 5px;
    flex-wrap: wrap;
  }

  .trendingBtns button {
    font-size: 12px;
    padding: 0px 15px;
    height: 25px;
  }
}
